html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, button, a {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px 25px;
}

.navbar button {
    background-color:#a920ff;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}

.navbar .transparent-btn{
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    max-width: 1400px;
    margin: 0 auto;
}

.content:before {
    content: '';
    background-color: #a920ff;
    position: absolute;
    top: -800px;
    left: -250px;
    transform: rotate(-40deg);
    border-radius: 50px;
    height: 1500px;
    width: 100vw;
    z-index: -1;
}

.content h1 {
    font-weight: bold;
}

.content h4 {
    margin: 20px 0;
}

.content button {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}