html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, button, a {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 5px 25px;
}

.navbar button {
    background-color:#a920ff;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}

.navbar .transparent-btn{
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}

.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 25px 0;
}

.content:before {
    content: '';
    background-color: #a920ff;
    position: absolute;
    top: -800px;
    left: -250px;
    transform: rotate(-40deg);
    border-radius: 50px;
    height: 1500px;
    width: 100vw;
    z-index: -1;
}

.content h1 {
    font-weight: bold;
}

.content h4 {
    margin: 20px 0;
}

.content button {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid white;
}

.content img {
    display: block;
    margin: 25px auto 0;
    max-width: 100%;
    border-radius: 15px;
    height: auto;
}

.box-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    max-width: 1400px;
    margin: 150px auto;
    padding: 0 25px;
}

.innerbox {
    background-color: white;
    border-radius: 15px;
    padding: 50px 25px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.innerbox img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.innerbox h3 {
    color: #a920ff;
}

.box-row > div:nth-of-type(2) {
    position: relative;
    top: -75px;
}

@media screen and (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
    .content::before {
        transform: rotate(-32deg);
        width: 150vw;
        top: -900px;
        left: -300px;
    }
    .box-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .box-row > div:nth-of-type(2) {
        top: 0;
    }
    .box-row > div:nth-of-type(3) {
        grid-column: 1 / span 2;
        max-width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    .content, .box-row {
        grid-template-columns: repeat(1, 100%);
    }
    .box-row > div:nth-of-type(3) {
        grid-column: 1 / 2;
        max-width: 100%;
    }
}

